Calculator/obj/PP-Calculator.csproj.nuget.dgspec.json
Calculator/obj/PP-Calculator.csproj.nuget.g.props
Calculator/obj/PP-Calculator.csproj.nuget.g.targets
Calculator/obj/project.assets.json
Calculator/obj/project.nuget.cache
Calculator/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Calculator/obj/Debug/net8.0/PP-Calculator.AssemblyInfo.cs
Calculator/obj/Debug/net8.0/PP-Calculator.AssemblyInfoInputs.cache
Calculator/obj/Debug/net8.0/PP-Calculator.assets.cache
Calculator/obj/Debug/net8.0/PP-Calculator.GeneratedMSBuildEditorConfig.editorconfig
Calculator/obj/Debug/net8.0/PP-Calculator.GlobalUsings.g.cs
